.header {
    padding: 10px;
    display: flex;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: black;
}

.h1 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span {
    display: flex;
    color: var(--blue)
}
