.header {
    padding: 10px;
    display: flex;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: black;
   
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

}

.h1 {
    font-size: 1.5rem;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span {
    display: flex;
    color: var(--blue)
}

.logo {
  width: 80px;
  height: 80px;
}


@media (max-width: 370px) {
  .h1 {
    font-size: 1.5rem
  }
}