.banner {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 360px;
  overflow: hidden;
  margin-top: 120px;
}

.image {
  object-fit: cover;
  filter: blur(6px);
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  color: #fff;
}

.content h2 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 1rem;
  color: white; 
  height: 100px;
  font-style: italic;
}

.content p {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  max-width: 720px;
  opacity: 0.95;
  color: var(--blue);
  font-weight: bold;
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}

.callButton, .formButton {
    margin: 20px auto;
    padding: 12px;   
    border-radius: 16px;
    width: 160px;
    opacity: 0.8;
    transition: .4s ease-in-out;
    font-weight: bold;
}

.callButton {
    color: var(--blue);
    border: 1px solid var(--blue);
    background-color: #fff;
}

.formButton {
    color: white;
    border: 1px solid white;
    background-color: var(--blue);
}

.callButton:hover, .formButton:hover {
    cursor: pointer;
    opacity: 1;
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}


@media (max-width: 370px) {
 .content h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 700;
  margin-bottom: 1rem;
  color: white; 
  height: 100px;
  font-style: italic;
}

.content p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  max-width: 720px;
  opacity: 0.95;
  color: var(--blue);
  font-weight: bold;
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}
}