.container {
    margin-top: 15vh;
}

.h2 {
    padding: 12px;
    text-align: center;
    background-color: var(--blue);
}

.h3 {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.intro {
    padding: 20px;
    line-height: 1.4rem;   
}

.ul {
    padding: 30px;
}

.spanUl {
    margin-bottom: 30px;
}

.li {
    margin: 10px;
}
