.container {
    margin-top: 15vh;
    max-width: 900px;
    margin: auto;
}

.h2 {
    padding: 12px;
    text-align: center;
    background-color: var(--blue);
}

.h3 {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.intro {
    padding: 20px;
    text-align: center;
    line-height: 1.4rem;   
    border: 1px solid var(--blue);
    margin: 20px
}

.spanUl {
    margin: 30px;
    color: var(--blue)
}

.li {
    margin: 10px 30px 10px 50px
}
