.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  margin: 30px auto;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--blue)
}

.description {
  font-size: 0.95rem;
  color: #555;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2rem;
  margin-bottom: 12px;
}

.link {
  color: var(--blue);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  width: 150px;
  padding: 8px;
  justify-content: center;
  transition: .4s ease-in-out;
  margin: 30px auto 20px auto;
  border: 1px solid var(--blue)
}

.link:hover {
  color: white;
  background-color: var(--blue);
}
