.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: black;
}

.logo {
    margin: 20px auto;
}

.h1 {
    font-size: 1.5rem;
    margin-left: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.span {
    display: flex;
    color: var(--blue);
    margin-left: 10px;
}

.linkContainer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li {
    margin: 10px;
    text-decoration: underline;
}

.codev {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.span {
    color: var(--blue);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
