/* -------------------
   RESET GLOBAL
------------------- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body.menu-open {
  overflow: hidden;
  height: 100%;
}

/* -------------------
   MOBILE NAV
------------------- */
.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #000000;
  z-index: 9999;
  overflow: hidden;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
  display: flex;
  flex-direction: column;
}

.mobileNav.open {
  transform: translateY(0);
  opacity: 1;
}

.mobileContent {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.h1 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.span {
  display: flex;
  color: var(--blue)
}

/* -------------------
   BOUTON FERMER
------------------- */
.hamburgerIcon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10000;
  color: #ffffff;
  height: 4vh;
  width: 4vh;
  top: 5vh;
  border: 1px solid white;
}

/* -------------------
   HEADER MENU
------------------- */
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.logo2 {
  width: 60px;
  height: 60px;
}

.h1 {
  font-size: 1.5rem;
  font-weight: bold;
}


.mobile_li {
  padding: 1rem 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #b8b8b8;
  border-bottom: 1px solid #eee;
  transition: color 0.2s ease;
}

.mobile_li:hover {
  color: #0070f3;
}

.menuBackground {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.logo {
  width: 80px;
  height: 80px;
}

/* -------------------
   CARET DESKTOP
------------------- */
.caret {
  margin-left: 0.25rem;
  display: inline-block;
  transition: transform 0.3s ease;
}

.caretOpen {
  transform: rotate(180deg);
}

.desktopNav {
  display: none
}

/* -------------------
   RESPONSIVE
------------------- */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: flex;
  }
}
